name: Build teleop_key

on:
  pull_request:
    branches:
      - main
    paths:
      - 'teleop_key/**'
    types:
      - opened
      - reopend
      - synchronize
      - closed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-region: "ap-northeast-1"
          role-to-assume: "arn:aws:iam::964246069091:role/github-actions-ecr-access-role"

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build image
        if: github.event.pull_request.merged == false
        uses: docker/build-push-action@v3
        with:
          push: false
          context: ./teleop_key

      - name: Build, tag, and push image to Amazon ECR
        id: push_docker_image
        if: github.event.pull_request.merged == true
        uses: docker/build-push-action@v3
        with:
          push: true
          context: ./teleop_key
          tags: 964246069091.dkr.ecr.us-east-1.amazonaws.com/teleop_key:${{ github.sha }}

      - name: Dispatch integration repository workflow
        if: ${{ steps.push_docker_image.outcome == 'success' }}
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GH_REPO_ACCESS_TOKEN }}
          repository: exmotion-rd/tello_linetrace_integration
          event-type: update_teleop_key_image
          client-payload: '{ "tag": "${{ github.sha }}" }'
